@import url('https://fonts.googleapis.com/css?family=Open+Sans|Montserrat');

body{
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#header{
    padding:10px;
}
#header{
  text-align: left;
  border-bottom: 1px solid #999;
}

#header img{
  height:25px;
  margin-right: 10px;
}
#header img:first-child{
  height:18px;
}

#placeholder{
  background-color: grey;
  width:600px;
  height:400px;
  line-height: 400px;
  text-align: center;
  color:white;
  position: absolute;
}

.byline,.meta{
  font-size: 11px;
}

/*Chart styles*/

.chart{
  margin: 10px 0;
  position: relative;
  width: 600px;
  height: 400px;
}

.axis-label {
  font-size: 12px;
}

.chart circle{
    stroke:rgb(50, 156, 235);
    stroke-width:2px;
    fill:transparent;
}

.dot.USA {
  stroke: rgb(204,0,0);
}
